h1{
    color:sienna;
    font-family: "Segoe UI";
    font-size: 45px;
    width:100%;
    overflow:hidden;
    }
code{
        color: sienna;
        font-size: 15px;
    }

img{
    animation: slide 3s;
    width: 400px;
}
button{
    background-color: sienna;
    color: white;
    transition-duration: 0.2s;
}
  
button:hover {
    background-color: white;
    color: sienna;
    cursor: pointer;
}
button.dl{
    padding: 5px;
    font-size: 14px;
}


@keyframes slide {
    from {
        margin-left: 20%;
        opacity: 0%; 
    }

    to {
        margin-left: 0%;
        opacity: 100%;
        
    }
}